<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>profile</title>
  <link rel="stylesheet" href="main.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
  <div id="page">
    <header>
      <div id="header_inner">
        <img src="airou_img.png" class="profile_img">
        <div id="title">
          <h1 id="siteTitle">kiyo kiyo </h1>
          <p id="subTitle">kiyo kiyoのプロフィール</p>
        </div>
      </div>
    </header>
    <div id="pageBody">
      <div id="pageBodyMain">
        <article class="articleDetail">
          <header class="articleDetailHead">
            <h1 class="pageTitle">プロフィール</h1>
          </header>
          <h2 class="heading-typeA">自己紹介</h2>
          <p>中学の時からアイドルが好きで高校３年生まで色々なイベントに参加してました。また今までには空手、テニスをしていました。</p>
          <div class="timeline" id="vue3">
            <ol>
              <li v-for="point in history">
                <div class="left">
                  {{ point.date }}
                </div>
                <div class="right">
                  {{ point.content }}
                </div>
              </li>
            </ol>
          </div>
          <h2>現在の活動</h2>
          <ul>
            <li>学生団体Unitusに所属</li>
            <li>電子工作を主に行うEICに所属</li>
            <li>バドミントンサークル a-jump!に所属</li>
            <li>Ruby on Railsを用いたエンジニアインターンシップに参加中</li>
          </ul>
          <table class="table" id="vue2">
            <caption>活動日</caption>
            <thead>
              <tr>
                <th v-for="column in columns">{{ column }}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="row in rows">
                <th>{{ row.title }}</th>
                <td v-for="cell in row.data">{{ cell | toIcon }}</td>
              </tr>
            </tbody>
          </table>
        </article>
      </div>
      <div id="pageBodySub">
        <section>
          <div class="newsList">
            <h2>今年度の目標</h2>
            <ul>
              <li>一般教養の単位を取り切る</li>
              <li>イケてる企業でインターンする</li>
            </ul>
          </div>
          <h2>
            来年度の目標
          </h2>
          <ul>
            <li>留学する</li>
          </ul>
          <div class="relationlink">
            <h2>
              関連リンク
            </h2>
            <ul>
              <li>
                <a href="https://airou.work" class="link">Airou</a>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
    <footer class="articleDetailFoot">
      <p id="copyright"><small>Copyright&copy; 2018 @kiyokiyo All Rights Reserved.</small></p>
    </footer>
  </div>
  <div id="vue">{{ message }}</div>
  <script src="./index.js"></script>
</body>

</html>
